<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login Page</title>
</head>
<body>
	<form th:action="@{/submit-login}" method="post"
		onsubmit="handleSubmit()">
		<div class="form-group">
			<label for="username">Tài khoản:</label> <input type="text"
				class="form-control username" name="username"
				placeholder="Nhập tài khoản" id="username">
		</div>
		<div class="form-group">
			<label for="pwd">Mật khẩu:</label> <input type="password"
				class="form-control pwd" name="password" placeholder="Nhập mật khẩu"
				id="pwd">
		</div>
		<div class="form-group">
			<p id="err-msg"></p>
		</div>

		<div class="form-group" th:if="${param.error}">
			<p style="color: red;">Tài khoản hoặc mật khẩu của bạn không
				chính xác.</p>
		</div>


		<button type="submit" class="w-100 btn submit-btn">Đăng nhập</button>
		<p class="more_option">
			Chưa có tài khoản? <a th:href="@{/register}">Đăng ký</a>
		</p>

	</form>
</body>
</html>